body, button, input, textarea {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}


.image
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title
{
    font-size: 3.8rem;
    line-height: 0.8;
    color: var(--dark-one);
}

.text
{
    font-size: 1.25rem;
    color: var(--dark-one);
    line-height: 1.6;
}

z-index
{
    position: relative;
    z-index: 2;
}