body, button, input, textarea {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}


.image
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title
{
    font-size: 3.8rem;
    line-height: 0.8;
    color: var(--dark-one);
}

.text
{
    font-size: 1.25rem;
    color: var(--dark-one);
    line-height: 1.6;
}

.z-index
{
    position: relative;
    z-index: 2;
}

.section-header
{
    text-align: center;
    margin-bottom: 1.5rem;
}

.title
{
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    line-height: 1;
    font-size: 2.8rem;
    margin-bottom: 0.6rem;
}

.title::before
{
    content: attr(data-title);
    display: block;
    margin-bottom: 0.4rem;
    color: var(--main-color);
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.title::after
{
    position: absolute;
    content: "";
    width: 90px;
    height: 5px;
    border-radius: 3px;
    background-color: var(--main-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.title-sm
{
    color: var(--dark-one); 
    font-weight: 600;
    font-size: 1.6rem;
}

.section
{
    padding: 7rem 0;
}

.section-header
{
    max-width: 900px;
    margin: 0 auto;
}

.services .points1
{
    bottom: -50px;
    left: -125px;
    opacity: 0.2;
    pointer-events: none;
}

.services .points2
{
    bottom: -55px;
    right: -125px;
    opacity: 0.2;
    pointer-events: none;
}

.portfolio
{
    position: relative;
    width: 100%;
    background-color: var(--light-two);
    min-height: 1200px;
}

.background-bg
{
    position: absolute;
    width: 100%;
    height: 520px;
    top: 0;
    left: 0; 
    background-color: var(--main-color);
}

.portfolio .title, .portfolio .title::before
{
    color: var(--light-one);
}

.portfolio .title::after
{
    background-color: var(--light-one);
}

.filter
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
