.contact-form
{
    padding-left: 2rem;
}

.contact-form .title::after
{
    display: none;
}

.contact-form .title 
{
    margin: 0;
}

.contact-form .row
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-column-gap: 0.6rem;
}

.contact-input
{
    padding: 1.2rem 2.1rem;
    margin: 0.6rem 0;
    border: none;
    outline: none;
    background-color: #ececec;
    border-radius: 0.5rem;
    font-weight: 400;
    font-size: 1.25rem;
    transform: 0.3s;
}

.contact-input::placeholder
{
    font-weight: 400;
}

.contact-input.textarea
{
    resize: none;
    min-height: 280px;
    border-radius: 0.5rem;
}

.contact-input:hover
{
    background-color: #ececec;
}

.contact-input:focus
{
    background: #eaeaea;
}

.contact-input .btn
{
    margin-top: 0.6rem;
}