header
{
    position: relative;
    width: 100%;
    background-color: var(--light-one) ;
    overflow: hidden;
}

.header-content .container.grid-2
{
    grid-template-columns: 2.5fr 3.5fr;
    min-height: calc(100vh - 6rem);
    padding-bottom: 2.5rem;
    text-align: left;
}

.header-content .text
{
    margin: 2.15rem 0;
}

.header-content .image .img-element
{
    max-width: 750px;
}

header .square
{
    right: 68%;
    top: 71%;
}

header .triangle
{
    right: 7%;
    bottom: 75%;
}

header .xshape
{
    right: 4%;
    bottom: 50%;
}

header .half-circle1
{
    left: 50%;
    bottom: 82%;
}

header .half-circle2
{
    left: 5%;
    top: 87%;
}

header .circle
{
    left: 38%;
    bottom: 63%;
}

.points
{
    opacity: .3;
    position: absolute;
}

header .points1
{
    width: 420px;
    bottom: -75px;
    left: -150px;
}

header .points2
{
    width: 70%;
    top: 65%;
    left: 71%;
}