header
{
    width: 100%;
    background-color: var(--light-three) ;
    overflow: hidden;
}

.header-content .container.grid-2
{
    grid-template-columns: 2.5fr 3.5fr;
    min-height: calc(100vh - 6rem);
    padding-bottom: 2.5rem;
    text-align: left;
}

.header-content .text
{
    margin: 2.15rem 0;
}

.header-content .image .img-element
{
    max-width: 750px;
}